{% extends "_base.html" %}

{% block site_content %}
<div id='about_page_about_wrapper'>
    <h2>About Me</h2>
    <img src='http://vasirsite.s3.amazonaws.com/img/erikhazzard.jpg' 
        alt='Erik Hazzard'
        width=227 height=273 />
        My name is <strong>Erik Hazzard</strong> and I'm the Princpal Software Engineer at <a href='http://visual.ly'>Visual.ly</a>. I spend the majority of my time developing javascript (client and server side) and python code, and figuring out how to best tell stories with data.  
    <br />
    <br />
        I'm also the author of <a href='/openlayers_book/' title='OpenLayers Book'>
                    OpenLayers Book: OpenLayers 2.10 Beginner's Guide
                </a>, a book on making web maps and web development. 
    <br />
    <br />
    Previously, I was the Lead Web Developer for FREAC (Florida Resources and Environmental Analysis Center), a GIS shop based in Tallahassee, Florida.
    <br />
    <hr />
    My passions include game development, web development, open source software, and making knowledge easily accessible.  I also enjoy writing, reading fantasy books, eating sunflower seeds. <br />
    <br />
    I write about programming, OpenLayers, game development, and other tech-related things at my <a href='/blog/' 
    title="Erik Hazzard's blog" rel='nofollow'>blog</a>. 
    <br /><br />
    My latest projects, tinkerings, and things I'm working on can be found on the 
        <a href='/dev/' title="Erik Hazzard's coding stuff"
            rel='nofollow'>dev page</a> or at my 
        <a href='http://github.com/enoex/'
            title="Erik Hazzard's github page" rel='nofollow'>
            github page</a>.  
    <div class='clear'></div>

    <br /><br />
    <div> 
        <h2>Resume</h2>
        My resume - some of the things I've accomplished in a more formal format. <br />
        <br />
        <a href='https://s3.amazonaws.com/vasirsite/Hazzard_Resume.pdf'
            title="Erik Hazzard's Resume">
            PDF Format
        </a> 
    </div>
</div>

<div class='clear'></div>
{% endblock site_content %}
