{% extends "_base.html" %}

{% block site_content %}
<div class='dev_page_project_wrapper'>
    <div>
        <h2>VasirEngine</h2>
        Entity based story generation engine.  Very much in progress. 
        ( <a href='https://github.com/enoex/VasirEngine'>Github</a> )
        <br />
        <br />
        <br />
        <h2>
            <a href='http://mapping.vasirdev.net/fantasy/preview.html#2/20.3/-388.4'>
            Fantasy Mapping
            </a>
        </h2>
        Mapping experiment with Mapnik <br />
        <a href='http://mapping.vasirdev.net/fantasy/preview.html#2/20.3/-388.4'>
            <img src="http://s3.amazonaws.com/vasirsite/img/fantasy-map.png"
                alt='Fantasy Map' />
            <br />
            View Map
        </a>
        <br />
        <br />
        <br />
        <h2><a href='http://guildwars2viz.com' title='GuildWars2Viz.com'>GuildWars 2 Visualization</a></h2>
        Data visualization of distribution of races / professions / tradeskills using D3 and SVG filters.
        <br />
        <a href='http://guildwars2viz.com' title='GuildWars2Viz.com'>GuildWars2Viz.com</a>
        | <a href='https://github.com/enoex/GuildWars2Viz' title='Github for GuildWars2Viz'>Github Source Code</a>
        <br />
        <br />
        <br />
    </div>
    <div class='clear'></div>
</div>
{% endblock site_content %}
